<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./styles/main.css">
    <title>Document</title>
</head>
<body>
     <h1>
        La mejor Pagina C del salon
    </h1>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Id sunt ipsum quam maiores ea, tempora, voluptate neque alias corrupti numquam voluptas ducimus ut explicabo consequuntur rem iusto! Amet, esse ipsa.
    </p>

    <h2>
        Links a las otras mejores paginas
    </h2>
    <button class="paginaA">Pagina A</button>
        <button class="paginaB">Pagina B</button>
</body>
</html>