<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./styles/main.css">
    <title>Document</title>
</head>
<body>
    <h1>
        La mejor Pagina B del salon
    </h1>

    <p>
        La descripcion de la mejor pagina B del salon
    </p>

    <h2>
        Links a las otras mejores paginas
    </h2>
        <button class="paginab">Pagina a</button>
        <button class="paginac">Pagina c</button>
</body>
</html>